---
---
<!DOCTYPE html>
<html lang='en'>
    <head>
        {% include head.html%}
        <title>Donelson Graham Berger</title>
    </head>
    <body class="bg-gradient-to-r from-purple-400 to-red-500 h-full w-full block">
      <button class='bg-blue-500 mx-auto text-white font-bold py-2 px-4 rounded'>
        test this
      </button>
      <main>
            {% include header.html %}
            <img class="w-64 h-64 roundedl mx-auto" src="assets/images/berger_donelson.jpg" alt="picture of myself"/>
            <h1>Donelson Graham Berger</h1>
      </main>
    </body>
</html>
