---
---
<!DOCTYPE html>
<html lang='en'>
    <head>
        {% include head.html%}
        <title>Donelson Graham Berger</title>
    </head>
    <body>
      <main>
            {% include header.html %}
            <div class="pt-32">
              <h1 class="mx-auto text-center pb-8 text-4xl">Donelson Graham Berger</h1>
              <img class="w-64 h-64 rounded mx-auto" src="/assets/images/gl_smoke.jpeg" alt="picture of myself"/>
              <p class="mx-auto text-center text-xl pl-2 pr-2 sm:pr-32 sm:pl-32">
                Hey, my name is Donelson Graham Berger, but call me Graham. I have an obsession with intelligent systems.
              </p>
            </div>
      </main>
      {% include analytics.html %}
    </body>
</html>
