<header>
  <div class="items-center justify-between flex bg-gray-800 bg-opacity-90 px-12 py-4 my-4 mx-auto shadow-2xl w-11/12">
    <div class="text-2xl text-white font-semibold inline-flex items-center">
      <ul class="ml-5 px-2 py-1">
        <li class="ml-5 px-2 py-1"><a href="{{site.url}}">Home</a></li>
      </ul>
    </div>
    <div>
        <ul class="flex text-white">
            <li class="ml-5 px-2 py-1"><a href="{{site.url}}/projects">Projects</a></li>
            <li class="ml-5 px-2 py-1"><a href="{{site.url}}/publications">Publications</a></li>
            <li class="ml-5 px-2 py-1"><a href="{{site.url}}/resume">Resume</a></li>
            <li class="ml-5 px-2 py-1"><a href="{{site.url}}/reading">Reading</a></li>
        </ul>
    </div>
</div>
</header>
