<nav class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-white shadow sm:items-baseline w-full">
  <div class="mb-2 sm:mb-0">
    <a href="/home" class="text-2xl no-underline text-grey-darkest hover:text-blue-dark">Home</a>
  </div>
  <div>
    <a href="{{site.url}}/projects" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Projects</a>
    <a href="{{site.url}}/publications" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Publications</a>
    <a href="{{site.url}}/resume" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Resume</a>
    <a href="{{site.url}}/reading" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Reading</a>

  </div>
</nav>
